html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar {
    height: 10vh;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-bar a img{
    width: 140px;
}
/* .nav-bar h1 a{
    font-size: 24px;
    color: #f9faf8;
    flex-shrink: 0;
} */
.nav-bar ul {
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
ul a {
    padding: 0.5rem 0;
    border-bottom: 1px solid #1f2937;
    transition: 0.3s ease-out;
}
ul a:hover {
    border-bottom: 1px solid #e5e7eb;
}

.main {
    background-color: #1f2937;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.main-text {
    max-width: 500px;
}
.main h2 {
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
    color: #f9faf8;
    font-weight: 900;
}
.main p {
    font-size: 1.3rem;
    margin: 0;
    padding: 16px 0;
    color: #e5e7eb;
}
img {
    max-width: 500px;
    width: 100%;
    height: auto;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 10px;
    flex-shrink: 0;
}
button:hover {
    cursor: pointer;
}

.info {
    text-align: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.info h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #1f2937;
}
.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}
.box {
    max-width: 200px;
    flex: auto;
}
.box a img {
    border: 4px solid #3882f6;
    border-radius: 10px;
    max-width: 200px;
    height: auto;
}

.quotes {
    background-color: #e5e7eb;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-quote {
    max-width: 750px;
    display: flex;
    flex-direction: column;
}
blockquote {
    margin: 0;
    flex: auto;
    font-size: 2.2rem;
    font-style: italic;
}
.quotes p {
    flex: auto;
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    align-self: flex-end;
}

.action {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-container {
    width: 800px;
    padding: 32px 0px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.action-text h2 {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}
.action-text p {
    margin: 0;
}
.action-container button {
    border: 2px solid #f9faf8;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    margin: 0;
    font-size: 18px; 
}


@media (max-width: 800px) {
    .main {
        flex-wrap: wrap;
        text-align: center;
        gap: 0px;
    }
    .main-text {
        flex: auto;
        padding: 0 16px;
    }
    img {
        width: 100%;
        flex: auto;
    }

    .info {
        gap: 0px;
    }
    .info-container {
        gap: 16px;
    }

    blockquote {
        font-size: 1.8rem;
    }
    .quotes p {
        font-size: 1.2rem;
    }
}


@media (max-width: 600px) {
    ul {
        padding: 0 8px;
    }
    ul a {
        padding: 0;
    }
    .nav-bar {
        flex-direction: column;
        justify-content: center;
    }
    .nav-bar a img {
        width: 100px
    };
    .nav-bar h1 {
        margin: 0;
    }

    .info {
        height: auto;
    }

    .first-quote {
        padding: 0 16px;
    }
    
    .action {
        padding: 0 16px;
    }
    .action-container {
        padding: 16px 8px;
        text-align: center;
        flex-direction: column;
        gap: 16px;
    }
}

@media (max-width: 400px) {
    a {
        font-size: 16px;
    }
    .main h2 {
        font-size: 2.5rem;
    }
    .main p {
        font-size: 1.2rem;
    }

    .info h2 {
        font-size: 2rem;
    }

    .quotes {
        text-align: center;
    }
    .first-quote {
        gap: 16px;
    }
    blockquote {
        font-size: 1.4rem;
    }
    .quotes p {
        font-size: 1rem;
        align-self: center;
    }
}